input{
    width: 300px;
}
.container{
    margin: 30px 0 0 30% ;
    background-color: peru;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
}
form{
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.btn{
    width: 200px;
}