<nav class="navbar navbar-expand navbar-dark" style="background-color: rgb(21, 49, 49)">
    <h2 class="navbar-brand" style="margin: -12px 0 -15px 10px">
        Data Loader Portal
    </h2>
    <ul class="navbar-nav mr-auto" routerLinkActive="active"></ul>

    <ul class="navbar-nav ml-auto" *ngIf="loggedin !== 'true'">

        <li class="nav-item">
            <a routerLink="/login" class="nav-link text-light">Login</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="loggedin == 'true'">
        <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{
                username
                }}</a>
        </li>
        <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
    </ul>
</nav>
<div class="container">
    <br><br>
    <div class="input-group">
        <input type="search" class="form-control rounded" [(ngModel)]='search_value' placeholder="Search by Id"
            aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary" (click)='update()'>search</button>
    </div>
    <br><br>
    <table class="table table-striped table-hover" style="background-color: antiquewhite;">
        <thead style="background-color: burlywood;">
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Email</td>
            <td>DOB</td>
            <td>Address</td>
            <td>Phone Number</td>
            <td>Drug Id</td>
            <td>Drug Name</td>
            <td></td>
        </thead>
        <tr *ngFor="let details of details">
            <td>{{ details.id }}</td>
            <td>{{ details.name }}</td>
            <td>{{ details.age }}</td>
            <td>{{ details.email }}</td>
            <td>{{ details.dob }}</td>
            <td>{{ details.address }}</td>
            <td>{{ details.phonenumber }}</td>
            <td>{{ details.drugid }}</td>
            <td >{{ details.drugname }}</td>
            <td><button class="btn btn-outline-primary" (click)='Edit(details.name)'>Edit</button></td>
            <!-- <td><button mat-raised-button class="btn btn-danger text-danger" (click)="confirmDialog(book.id)">Delete
                Book</button></td> -->
        </tr>
    </table>
    <br><br>
    <button class="btn btn-secondary create " routerLink='/login-home'>Back</button>
    <br>
</div>